@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* NAVBAR */

header{
  background: #FFF7ED;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10svh;
}

.site-logo{
  font-weight: 900;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.links-container{
  display: flex;
  gap: 1rem;
}

.links-container a{
  text-decoration: none;
  color: #4D4D4D;
}

.links-container a:hover{
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}

.links-container .active{
  color: #161616;
  font-weight: 700;
  text-decoration: underline;
}

/* HOME PAGE */

.home-container{
  padding: 2rem;
  height: 80svh;
  background-image: url("./assets/Images/image54.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.home-container h1{
  font-weight: 800;
}

.home-container p{
  font-weight: 500;
}

.home-container button{
  width: 100%;
  background-color: #FF8C38;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 1rem;
  font-weight: 700;
  cursor: pointer;
}

/* ABOUT PAGE */
.about-page img{
  min-height: 30svh;
  object-fit: cover;
  width: 100%;
}

.about-text{
  padding: 2.5rem 2rem;
}

.about-text h2{
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about-text p{
  color: #161616;
  font-weight:500;
  line-height: 22px;
  margin: 1rem 0;
}

.about-block{
  background-color: #FFCC8D;
  border-radius: 5px;
  padding: 2rem 2rem;
  margin: 1.5rem 0;
}

.about-block h3{
  color: #161616;
  font-size: 24px;
  font-weight: 700;
  margin: 1rem 0;
}

.about-block button{
  border: none;
  background-color: #161616;
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
  font-weight: 700;
  cursor: pointer;
}


/* FOOTER */
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  height: 10svh;

}

footer p{
  font-size: 14px;
  color: #AAAAAA;
}

/* VANS CONTAINER */
.vans-container{
  padding: 3rem 1rem;
}

.vans-container h3{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.filters-container{
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
}

.filters-container button{
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  padding: 0.5rem 1.4rem;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 2rem;
}

.filters-container :last-child{
  background-color: transparent;
  text-decoration: underline;
}

.cards-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
}

.card{
  max-width: 230px;
  cursor: pointer;
}

.card img{
  width: 100%;
  height: 230px;
  object-fit: contain;
  border-radius: 5px;
}

.card button{
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 16px;
  
}

.luxury{
  background-color: #161616;
}

.rugged{
  background-color: #115E59;
}

.simple{
  background-color: #E17654;
}

.card-text{
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #161616;
  font-weight: 600;
  margin: 0.4rem 0;
  text-decoration: none;
}



.card-text span{
  font-size: 0.8rem;
  font-weight: 500;
}

/* VAN DETAILS */
.van-detail-container{
  padding: 3rem 1rem;
}

.van-detail-container p{
  text-decoration: underline;
  color: #201F1D;
  font-weight: 500;
}

.van-detail-container svg{
  margin-right: 0.6rem;
}

.van-card{
  display: flex;
  flex-direction: column;
  color: #161616;
}

.detail button{
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 16px;
}

.van-card img{
  margin: 2rem 0;
}

.rent-btn{
  border: none;
  background-color: #FF8C38;
  color: #fff;
  padding: 1rem;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  border-radius: 5px;
}

.detail h2{
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.detail p{
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

.detail span{
  font-size: 1.25rem;
  font-weight: 500;
}

.detail .text-detail{
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0;
  line-height: 24px;
}

.dashboard-links{
  display: flex;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #FFF7ED;
}

.dashboard-links a{
  text-decoration: none;
  font-weight:500;
  color: #4D4D4D;
}

.dashboard-links a:hover{
  font-weight: 700;
  color: #161616;
  text-decoration: underline;
}