@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  background-color: #FFF7ED;
  min-height: 100svh;
}

.site-wrapper{
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */

header{
  background: #FFF7ED;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10svh;
}

.site-logo{
  font-weight: 900;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.links-container{
  display: flex;
  gap: 1rem;
}

.links-container a{
  text-decoration: none;
  color: #4D4D4D;
}

.links-container a:hover{
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}

.links-container .active{
  color: #161616;
  font-weight: 700;
  text-decoration: underline;
}

/* HOME PAGE */

.home-container{
  padding: 2rem;
  height: 80svh;
  background-image: url("./assets/Images/image54.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.home-container h1{
  font-weight: 800;
}

.home-container p{
  font-weight: 500;
}

.home-container button{
  width: 100%;
  background-color: #FF8C38;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 1rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

/* ABOUT PAGE */
.about-page img{
  min-height: 30svh;
  object-fit: cover;
  width: 100%;
}

.about-text{
  padding: 2.5rem 2rem;
}

.about-text h2{
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about-text p{
  color: #161616;
  font-weight:500;
  line-height: 22px;
  margin: 1rem 0;
}

.about-block{
  background-color: #FFCC8D;
  border-radius: 5px;
  padding: 2rem 2rem;
  margin: 1.5rem 0;
}

.about-block h3{
  color: #161616;
  font-size: 24px;
  font-weight: 700;
  margin: 1rem 0;
}

.about-block button{
  border: none;
  background-color: #161616;
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
  font-weight: 700;
  cursor: pointer;
}


/* FOOTER */
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  height: 10svh;
  margin-top: auto;
}

footer p{
  font-size: 14px;
  color: #AAAAAA;
}

/* VANS CONTAINER */
.vans-container{
  padding: 3rem 1rem;
}

.vans-container h3{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.filters-container{
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.filters-container button{
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  padding: 0.5rem 1.4rem;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 2rem;
}

.filters-container .selected{
  background-color: #161616;
  color: #fff;
}

.filters-container .clearBtn{
  background-color: transparent;
  text-decoration: underline;
}

.cards-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
}

.card{
  max-width: 230px;
  cursor: pointer;
}

.card img{
  width: 100%;
  height: 230px;
  object-fit: contain;
  border-radius: 5px;
}

.card button{
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 16px;
  
}

.luxury{
  background-color: #161616;
}

.rugged{
  background-color: #115E59;
}

.simple{
  background-color: #E17654;
}

.card-text{
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #161616;
  font-weight: 600;
  margin: 0.4rem 0;
  text-decoration: none;
}



.card-text span{
  font-size: 0.8rem;
  font-weight: 500;
}

/* VAN DETAILS */
.van-detail-container{
  padding: 3rem 1rem;
}

.van-detail-container p{
  text-decoration: underline;
  color: #201F1D;
  font-weight: 500;
}

.van-detail-container svg{
  margin-right: 0.6rem;
}

.van-card{
  display: flex;
  flex-direction: column;
  color: #161616;
}

.detail button{
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 16px;
}

.van-card img{
  margin: 2rem 0;
}

.rent-btn{
  border: none;
  background-color: #FF8C38;
  color: #fff;
  padding: 1rem;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  border-radius: 5px;
}

.detail h2{
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.detail p{
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

.detail span{
  font-size: 1.25rem;
  font-weight: 500;
}

.detail .text-detail{
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0;
  line-height: 24px;
}

.dashboard-links{
  display: flex;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #FFF7ED;
}

.dashboard-links a{
  text-decoration: none;
  font-weight:500;
  color: #4D4D4D;
}

.dashboard-links a:hover{
  font-weight: 700;
  color: #161616;
  text-decoration: underline;
}

/* HOST VANS SECTION */

.hostVans-container{
  padding: 2rem;
}

.hostVans-container h2{
 font-size: 2rem;
 font-weight: 700;
 margin-bottom: 2rem;
}

.hostVans-cardContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hostVans-card{
  padding: 1rem 1.5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 6px;
}

.hostVans-card img{
  width: 66px;
  height: 66px;
  border-radius: 5px;
}

.hostVans-card h3{
  color: #161616;
}

.hostVans-card p{
  font-size: 1.1rem;
  font-weight: 600;
}

.hostVans-card span{
  color: #4D4D4D;
  font-weight: 500;
}

/* HOST VAN DETAIL SECTION  */

.hostVanDetail-section{
  padding: 2rem;
}

.hostVanDetail-section p{
  text-decoration: underline;
  color: #201F1D;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 2rem;
}

.hostVanDetail-section svg{
  margin-right: 0.6rem;
}

.hostVanDetail-container{
  background-color: #fff;
  padding: 2rem;
}

.hostVanDetail-header{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hostVanDetail-header img{
  width: 160px;
  border-radius: 5px;
}


.hostVanDetail-text i{
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  width: 70px;
}

.hostVanDetail-text h3{
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #161616;
}

.hostVanDetail-text p{
  text-decoration: none;
  font-weight: 700;
  color: #161616;
  cursor: default;
}

.hostVanDetail-text p span{
  font-weight: 500;
}

.datails-links{
  display: flex;
  gap: 1.5rem;
  padding: 2rem 0;
}

.datails-links a{
  text-decoration: none;
  font-weight:500;
  color: #4D4D4D;
}

.datails-links a:hover{
  font-weight: 700;
  color: #161616;
  text-decoration: underline;
}

.hostVanInfo ul{
  list-style: none;
}

.hostVanInfo ul li{
  margin: 0.7rem 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: #161616;
}

.hostVanPricing p{
  text-decoration: none;
  cursor: default;
  font-size: 1.5rem;
  color: #161616;
  font-weight: 500;
}

.hostVanPricing p span{
  color: #4D4D4D;
  font-size: 1rem;
  font-weight: 500;
}

.hostVanPhotos img{
  width: 103px;
  border-radius: 5px;
}

/* NOT FOUNT PAGE */

.notFound{
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.notFound a button{
  background-color: #161616;
  border: none;
  height: 3.5rem;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  width: 100%;
}

.notFound a button:hover{
  cursor: pointer;
}

/* LOGIN PAGE */

.login-container{
  margin-top: 4rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.login-form{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-form input{
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
  color: #4D4D4D;
}

.login-form input:first-child {
  border-radius: 5px 5px 0 0;
}

.login-form input:nth-child(2) {
  border-radius: 0 0 5px 5px;
  margin-bottom: 1rem;
}

.login-form input:focus{
  outline: none;
}

.login-form button{
  height: 55px;
  border: none;
  background-color: #FF8C38;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
}

.login-container p{
  color: #161616;
  font-weight: 500;
}

.login-container p span{
  color: #FF8C38;
}